{% extends "layout.twig" %}

{% block content %}
<div class="admin__container bg-primary shadow-lg p-3 mb-5 bg-white rounded ">
    <div class="container text-center">
        <h1>Dashborad</h1>

            <ul class="admin mt-5" >
            <li><a href="/">Resume</a></li>
            <li><a href="/users/add">Add User</a></li>
            <li><a href="/jobs/add">Add Job</a></li>
            <li><a href="/projects/add">Add Project</a></li>
            <a href="/logout">Log Out</a>
            </ul>

    </div>
</div>    

{% endblock %}